_sizeCipher = matchany : integer_lessthan : sizeCipher : answer=3500
_sizeCert = matchany : integer_lessthan : sizeCert : answer=11700
_sizeKey = matchany : integer_lessthan : sizeKey : answer=1500
_sizeDis = matchany : integer_lessthan : sizeDis : answer=1000
cipher = boolean : (_cipher-string and _cipher-file1 and _cipher-file2 and _sizeCipher)
cert = boolean : (_cert and _sig and _modulus and _cert-file and _sizeCert)
public-key = boolean : (_public-key-string and _public-key-file and _sizeKey)
disconnect = boolean : (_disconnect-file and _sizeDis)
